h1{
    text-align: center;
    color: yellow;
}

body {
    background-image: url(images/StarWarsPoster.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }