@keyframes DragonIdleFly {
    from {background-position: 0 0;}
    to {background-position: -322 0}
}

@keyframes DragonDeath {
    from {background-position: -322 0;}
    to {background-position: -920 0}
}

@keyframes DragonAttack {
    from {background-position: -920 0;}
    to {background-position: -1288 0}
}

@keyframes DragonSleep {
    from {background-position: -1380 0;}
    to {background-position: -2300 0}
}


#Dragon{
    transform: scale(3) translate(0px, 0px);
    position: absolute;
    animation-name: DragonIdleFly;
    animation-timing-function: steps(7);
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    width: 46px;
    height: 16px;
    background: url(Sprites/Dragon.png) 0 0;
    image-rendering: pixelated;
    left: 50%;
    top: 13.5%;
}

html{
    background-color: #87CEEB;
}

#Canvas{
    border: black 3px solid;
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
    
}