h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: STJEDISE;
}


/* Adding fonts to font familyt*/
@font-face{
    src: url(../ColorChanger/fonts/starjedi/Starjhol.ttf);
    font-family: "Starjedi";
    font-style: normal;
    font-size: 100px;
}

@font-face{
    src: url(../ColorChanger/fonts/starjedi/Starjedi.ttf);
    font-family: "STJEDISE";
    font-style: normal;
    font-size: 100px;
}

body {
    background-image: url(../images/Millennium-Falcon.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }