body{
    background-image: url('../images/StarWarsDarthVaderLift.jpg');
    background-size: 35%;
    background-position-x: center;
    background-position-y: 30%;
    background-repeat: no-repeat;
    background-color: black;
}

h1{
    text-align: center;
    color: white;
    font-size: small;
}

button, input{
    color: white;
    background: none;
}